In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ["a","b","c"]
liste = [10,20,30]
arr = np.array(liste)
d = {"a":10,"b":20,"c":30}

In [3]:
pd.Series(data=liste)

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(liste,labels)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

In [8]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [10]:
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [11]:
ser1 = pd.Series([1,2,3,4],["USA","Deutschland","Russland","Japan"])

In [12]:
ser1

USA            1
Deutschland    2
Russland       3
Japan          4
dtype: int64

In [13]:
ser2 = pd.Series([5,6,7,8],["USA","Deutschland","Italien","Japan"])

In [14]:
ser2

USA            5
Deutschland    6
Italien        7
Japan          8
dtype: int64

In [16]:
ser2["USA"]

5

In [17]:
ser1+ser2

Deutschland     8.0
Italien         NaN
Japan          12.0
Russland        NaN
USA             6.0
dtype: float64