In [1]:
1+1

2

In [2]:
1*3

3

In [4]:
float(1) / 2.0

0.5

In [5]:
2**4

16

In [6]:
4 % 2

0

In [7]:
 5 % 2

1

In [10]:
(2 + 3) * (5 + 5)

50

In [11]:
name_der_variable = 2

In [12]:
x = 2
y = 3

In [13]:
z=x*y

In [14]:
z

6

In [15]:
'String'

'String'

In [16]:
"String"

'String'

In [17]:
"Ein String 'imString'"

"Ein String 'imString'"

In [18]:
x = "Hallo"

In [19]:
x

'Hallo'

In [20]:
print(x)

Hallo

In [22]:
num = 23
name = "Daniel"

In [24]:
print("Mein Alter ist: {}, und mein Name lautet {}".format(num, name))

Mein Alter ist: 23, und mein Name lautet Daniel

In [26]:
["Hi",2,3]

['Hi', 2, 3]

In [31]:
meine_liste = ["a", "b", "c"]

In [32]:
meine_liste.append("d")

In [33]:
meine_liste

['a', 'b', 'c', 'd']

In [41]:
meine_liste[-1] = "neu"

In [42]:
meine_liste

['a', 'b', 'c', 'neu']

In [43]:
liste = [1,2,3,[4,5,['Ziel']]]

In [46]:
liste[3][2][0]

'Ziel'

In [47]:
d = {'key1':'wert1','key2':123}

In [48]:
d

{'key1': 'wert1', 'key2': 123}

In [50]:
d['key1']

'wert1'

In [51]:
d = {'k1':{'innererKey':[1,2,3]}}

In [52]:
d

{'k1': {'innererKey': [1, 2, 3]}}

In [55]:
d['k1']['innererKey'][1]

2

In [56]:
True

True

In [57]:
False

False

In [58]:
t = (1,2,3)

In [59]:
t

(1, 2, 3)

In [61]:
t[0]='Neu'

TypeError: 'tuple' object does not support item assignment

In [64]:
s = {1,2,3,1,2,3,4,5,5,5,5}

In [66]:
s.add(100)

In [67]:
s

{1, 2, 3, 4, 5, 100}

In [68]:
1>2

False

In [69]:
1<2

True

In [70]:
1>=1

True

In [71]:
1<=4

True

In [72]:
1==1

True

In [73]:
'hi'=='bye'

False

In [80]:
((1>2) or (2<3) or (4==4)) and (1==1)

True

In [86]:
x=4

if x < 2:
    print("Hi!")
elif x == 3:
    print("Mitte")
elif x==4:
    print("4")
else:
    print("Ciao!")

4

In [87]:
seq = [1,2,3,4,5]

In [89]:
for wert in seq:
    print(wert+wert)

2
4
6
8
10

In [90]:
i= 1
while i<5:
    print("i ist: {}".format(i))
    i = i+1

i ist: 1
i ist: 2
i ist: 3
i ist: 4

In [93]:
for i in range(5):
    print(i)

0
1
2
3
4

In [92]:
range(5)

range(0, 5)

In [95]:
x = list(range(5))

In [96]:
y = []

In [97]:
for item in x:
    y.append(item**2)
print(y)

[0, 1, 4, 9, 16]

In [98]:
[item**2 for item in x]

[0, 1, 4, 9, 16]

In [99]:
def funk (param1='standard'):
    """
    Beschreibung
    aus mehreren
    Zeilen
    """
    print(param1)

In [100]:
funk

In [103]:
funk(param1='test')

test

In [104]:
def quadrat(x=0):
    return x**2

In [105]:
aus = quadrat(5)

In [106]:
aus

25

In [107]:
print(aus)

25

In [108]:
def mal2(var):
    return var*2

In [109]:
mal2(4)

8

In [111]:
l_mal2 = lambda var: var*2

In [112]:
l_mal2(6)

12

In [113]:
seq = [1,2,3,4,5] # rang(1,6)

In [114]:
seq

[1, 2, 3, 4, 5]

In [118]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [120]:
list(filter(lambda item: item%2==0,seq))

[2, 4]

In [121]:
st = 'Hallo mein Name ist Sam'

In [122]:
st.lower()

'hallo mein name ist sam'

In [123]:
st.upper()

'HALLO MEIN NAME IST SAM'

In [124]:
st.split()

['Hallo', 'mein', 'Name', 'ist', 'Sam']

In [128]:
tweet = "Los Sports! #Sports"

In [129]:
tweet.split('#')

['Sports ', 'Gain']

In [130]:
d

{'k1': {'innererKey': [1, 2, 3]}}

In [131]:
d.keys()

dict_keys(['k1'])

In [132]:
d.items()

dict_items([('k1', {'innererKey': [1, 2, 3]})])

In [133]:
lst = [1,2,3]

In [134]:
lst.append(4)

In [135]:
lst

[1, 2, 3, 4]

In [136]:
lst.pop()

4

In [137]:
lst

[1, 2, 3]

In [141]:
first = lst.pop(0)

In [145]:
first

1

In [143]:
lst

[2]

In [146]:
'x' in [1,2,3]

False

In [147]:
'x' in ['x','y']

True

In [151]:
x = [(1,2),(3,4),(5,6)]

In [152]:
for a,b in x:
    print(a)
    print(b)

1
2
3
4
5
6